
:root{
    --cor1: #010400;
    --cor2: #CECECE;
    --cor3: #A6A6A8;
    --cor4: #2A4494;
    --cor5: #006BA6;
}
body {
    font-family: Arial, sans-serif;
    background-image:linear-gradient(var(--cor1),var(--cor4));
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
img{
    width: 12em;
    position: absolute;
    left: 58.7em;
    top: 38.8em;
    rotate: 60deg;
}



main{
    background-color:var(--cor4);
    width: 30em;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em 0em 2em 0em;
    padding: 1em;
    border:solid 2px #010400;
    box-shadow: 0px 5px 20px var(--cor5);
    transition: ease-in 0.4s;
}
main:hover{
    box-shadow: 0px 10px 50px var(--cor5);
}

.tela-inicial {
    background-color:var(--cor2);
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;  
}

.caixa-principal {
    background-color:var(--cor2);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.caixa-perguntas {
    margin: 20px;
    font-size: 1.2em;
}

.caixa-alternativas button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.caixa-resultado {
    background-color:var(--cor2);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;

}

.mostrar {
    display: flex !important;
}

button {
    background-color:var(--cor5);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
